.btn-calendar {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #DEDEDE;
    height: 30px;
    padding-left: 10px;
    color: #DEDEDE;
    margin-bottom: 55px;
    text-align: left;
    cursor: pointer;
}