.main-banner {
    background-color: #17181B;

    &__inner {
        display: flex;
    }

    &__headline {
        font-weight: 900;
        font-size: 38px;
        line-height: 60px;
        letter-spacing: 0.02em;
        color: #DEDEDE;
        padding: 0 0 0 30px;

        @media (min-width: 992px) {
            font-size: 68px;
            padding-top: 70px;
        }

    }

    &__subheading {
        padding-top: 35px;
        padding-bottom: 60px;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #DEDEDE;
    }

    &__play-mob {
        display: flex;
        justify-content: center;
        padding: 40px 0;

        @media (min-width: 992px) {
            display: none;
        }

        &--button {
            background-color: transparent;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        &--icon {
            width: 25px;
            height: 25px;
            margin-right: 20px;
        }

        &--name {
            color: #DEDEDE;
        }
    }

}

.main-banner-wrap {
    width: 100%;

    @media (min-width: 992px) {
        flex: 0 0 40%;
        max-width: 40%;
    }
}    


.banner-contact {
    padding: 0 30px;
}

.banner-form {
    padding-bottom: 65px;
}

.banner-social-wrap {
    background: #FDFDFD;
    padding: 20px 0;
}

.banner-social {
    display: flex;
    justify-content: space-around;
    
    &__item {

    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        &--icon {
            width: 25px;
            height: 25px;
            fill: #17181B;
            margin-right: 20px;
        }

        &--name {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #17181B; 

            display: none;

            @media (min-width: 576px) {
                display: block;
            }
        }
    }
}

.banner-media {
    flex: 0 0 60%;
    max-width: 60%;
    display: none;

    @media (min-width: 992px) {
        display: block;
    }
    &__preview{
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }

    &__play {
        z-index: 99;
        position: absolute;
        background-color: transparent;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;

        &--icon {
           fill: #DEDEDE;
           width: 70px;
           height: 70px;
        }
    }
}