.mega-menu {
    position: fixed;
    left: 0;
    top: 0;
    background: #17181B;
    width: 100%;
    display: none;

    @media (min-width: 992px) {
        top: auto;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        padding: 30px 15px;

        @media (min-width: 992px) {
            flex-direction: row;
            padding: 50px 40px;
        }

        @media (min-width: 1920px) {
            max-width: 1200px;
            margin: 0 auto;
            padding: 50px 0;
        }
    }

    &__wgt {
        width: 100%;

        @media(min-width: 992px) {
            width: 20%;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        color: #FDFDFD;
        padding-bottom: 30px;
        cursor: pointer;

        @media(min-width: 992px) {
            padding-bottom: 30px;
        }
    }

    &__close-btn {
        display: block;
        margin-left: auto;
        background: transparent;
        color: #FF4500;
        margin-right: 15px;
        cursor: pointer;

        @media(min-width: 992px) {
            display: none;
        }
    }
}

@media(max-width: 991px) {
    .mega-menu {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }

    .mega-menu_slideIn {
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }

    .mega-menu_slideOut {
        animation: slide-out 0.5s forwards;
        -webkit-animation: slide-out 0.5s forwards;
    }
}

.mega-menu.active {
    display: block;
    // transition-duration: 0.9s;
}

.mega-list {
    display: none;
    padding-bottom: 15px;
    padding-left: 15px;

    @media(min-width: 992px) {
        display: block;
        padding-bottom: 0;
        padding-left: 0;
    }

    &__item {
        padding-bottom: 20px;
    }

    &__link {
        font-size: 16px;
        color: #FDFDFD;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            color: #FF4500;
        }
    }

    &__link_theme_orange {
        color: #FF4500;

        &:hover {
            color: #FDFDFD;
        }
    }
}

.mega-list_mob {
    display: none;

    @media (min-width: 992px) {
        display: block;
    }
}