.single-news {
    &__inner {
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width: 992px) {
            padding-left: 150px;
        }

        @media (min-width: 992px) {
            padding-right: 70px;

        }

        @media (min-width: 1200px) {
            padding-left: 250px;
        }
    }

    &__inner_container {
        @media (min-width: 1920px) {
            max-width: 1250px;
            padding-left: 0;
            padding-right: 0;
            margin: 0 auto;
        }

    }

    &__img-wrap {
        padding-bottom: 30px;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
        max-height: 400px;
    }

    &__content {
        padding-bottom: 40px;
    }

    &__date {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #FF4500;
    }

    &__headline {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #17181B;
        padding-bottom: 35px;
    }

    &__description {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #17181B;
        padding-bottom: 50px;
    }

    &__nav {
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        @media (min-width: 768px) {
            margin-left: 0;
            margin-right: 0;

        }
    }

    &__nav-item {
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width: 768px) {
            width: auto;
            padding-left: 0;
            padding-right: 70px;
        }
    }

    &__nav-btn {
        display: block;
    }
}