.post-slider {
    padding-bottom: 30px;
    margin-left: 0; 
    margin-right: 0;
    @media (min-width: 992px) {
        width: 545px;
        padding-bottom: 0;
    }

    @media (min-width: 1200px) {
        width: 650px;
    }
    &__wgt {

        &--img {
            display: block;
            height: auto;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            @media (min-width: 992px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    
    &__nav {
        display: flex;
        width: 100%;
        padding-bottom: 70px;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width: 992px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &_nav_mob {
        width: 100%;
    }

    &__nav-item {
        width: 50%;
        position: initial;
        z-index: 999;

        @media (min-width: 992px) {
            width: 60%;
            position: absolute;
        }

        &:first-child {
            left: -35px;
        }

        &:last-child {
            right: -35px;
        }
    }

    &__nav-btn_next {
        border: none;

        &:hover {
            border: none!important;
        }
    }

    &__nav-btn_prev:hover  {
        background: #FF4500;
        color: #FDFDFD;
    } 


}

.post-slider__nav_mob {
    @media (min-width: 992px) {
        display: none;
    }
}

.post-slider__nav_desc {
    display: none;
    @media (min-width: 992px) {
        display: flex;
    }
}

.single-case {
    padding-top: 0;
    position: relative;

    &__background {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &--blackout {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(32,32,32,0.13);
            z-index: 1;
        }
    }

    &__inner {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        z-index: 999;

        @media (max-width: 991px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    &__content {
        width: 100%;
        background: #17181B;
        margin-right: -30px;
        margin-left: -30px;
        padding: 50px 15px;
        margin-bottom: -80px;
        @media (min-width: 992px) {
            width: 40%;
            padding: 20px 15px;
            margin-right: 0;
            margin-left: 0;
            padding: 0;
            margin-bottom: 0;
        }

        @media (min-width: 1200px) {
            padding: 40px 30px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        letter-spacing: 0.02em;
        color: #DEDEDE;
        padding-bottom: 25px;
    }

    &__description {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #DEDEDE;
        padding-bottom: 70px;
    }
} 

.post-slider-pagination {
    position: relative;
    bottom: 0;
    height: 3px;
    width: 100%;
    display: none;

    @media (min-width: 992px) {
        display: block;
    }
}

.post-slider-pagination span {
    background: #FF4500!important;
}


