.slider {

    &__wgt {

        &--img-wrap {
            padding-bottom: 40px;
        }

        &--img-link {
            text-decoration: none;
        }

        &--img-wrap_pb_none {
            padding-bottom: 0;
        }

        &--img {
            width: 100%;
        }

        &--content-title {
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.02em;

            padding-bottom: 25px;
            @media (min-width: 992px) {
                font-size: 20px;
            }
        }

        &--content-link {
            text-decoration: none;
            color: #17181B;
        }

        &--content-excerpt {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.01em;  
        }

        &--link {
            text-decoration: none;
            color: #DEDEDE;
        }
    }
} 