.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.txt-center {
    text-align: center;
}

.pb-md-60 {
    @media (max-width: 767px) {
        padding-bottom: 60px;
    }
}

.form-label {
    padding-bottom: 10px;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #DEDEDE;
    text-decoration: none;
    text-align: left;

    @media (min-width: 768px) {
        font-size: 16px;

    }
}

.form-input {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #DEDEDE;
    height: 30px;
    padding-left: 10px;
    color: #FF4500;

    &__banner {
        margin-bottom: 55px;
    }

    &__footer {
        margin-bottom: 30px;
    }
}



.btn {
    text-align: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: all .3s;
    font-size: 10px;
    letter-spacing: 0.02em;
    color: #DEDEDE;
    text-decoration: none;

    @media (min-width: 768px) {
        font-size: 16px;

    }
}

.btn_transparent {
    background-color: transparent;
}

.btn_filled {
    border: 1px solid #FF4500;
    background: #FF4500;
    color: #FDFDFD !important;
    
    &:hover {
        border: 1px solid #CC3700!important;
        background: #CC3700!important;
    }
}

.btn_style_light {
    border: 1px solid #DEDEDE;
    color: #DEDEDE;

    &:hover {
        background-color: #D5D5D5;
        color: #17181B;
    }
}

.btn_style_dark {
    border: 1px solid #17181B;
    color: #17181B;

    &:hover {
        background-color: #17181B;
        color: #D5D5D5 ;
    }
}

.btn_style_orange {
    border: 1px solid #FF4500;
    color: #FF4500;

    &:hover {
        background-color: #FF4500;
        color: #D5D5D5;
    }
}

.btn_style_grey {
    color: #A1A1A1;
    
}

.btn_style_border-none {
    border: none;
}

.section {
    position: relative;
    padding: 50px 0;

    @media (min-width: 992px) {
        padding: 100px 0;
    }

    &__hashtag {
        padding: 0 0 40px 15px;

        @media (min-width: 992px) {
            position: absolute;
            left: 0;
            bottom: 140px;
            transform: rotate(-90deg);
            padding: 0;

        }
        &--name {
            font-size: 28px;
            line-height: 34px;
            letter-spacing: 0.02em;
        }

        &--news-row {
            @media (min-width: 992px) {
                bottom: 160px;
            }
        }
    }

    &__hashtag_oversize {
        @media (min-width: 1920px) {
            left: -185px;
        }
    }

    &__hashtag_theme_dark {
        color: #474849;
    }

    &__hashtag_theme_light {
        color: #A2A2A2;
    }

    &__inner {
        padding-left: 15px;
        @media (min-width: 992px) {
            padding-left: 150px;
        }

        @media (min-width: 1200px) {
            padding-left: 250px;
        }
    }

    &__inner_container {
        @media (min-width: 1920px) {
            max-width: 1250px;
            padding-left: 0;
            padding-right: 0;
            margin: 0 auto;
        }
    }

    &__inner_p_right {
        padding-right: 15px;
        @media (min-width: 992px) {
            padding-right: 70px;

        }
    }

    &__inner_pl_30 {
        padding-left: 15px;
        @media (min-width: 992px) {
            padding-left: 30px;
        }
    }

    &__inner_pr_30 {
        padding-right: 15px;
        @media (min-width: 992px) {
            padding-right: 30px;
        }
    }

    &__inner_px_none {
        padding-left: 0;
        padding-right: 0;
    }

    &__inner_pr_250 {
        @media (min-width: 992px) {
            padding-left: 250px;
        }
    }

	&__headline {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.02em;
        padding: 0 15px;
        @media (min-width: 768px) {
            padding: 0 50px;
        }
    }
    
    &__headline_dark {
        color: #DEDEDE;
    }

    &__headline_light {
        color: #DEDEDE;
    }

    &__page {
        padding: 35px 0;
    
        @media (min-width: 992px) {
            padding: 50px 0;
        }
    }
}

.headline {
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    padding-bottom: 50px;

    &__theme_gray {
        color: #A2A2A2;
    }

    &__theme_light {
        color: #DEDEDE;
    }
}

.headline_oversize {
    @media (min-width: 1920px) {
        padding-left: 0 !important;
    }
}

.headline-news {
    padding-left: 15px;
        @media (min-width: 992px) {
        padding-left: 150px;
    }

    @media (min-width: 1200px) {
        padding-left: 250px;
    }
}

.section_theme_dark {
	background-color: #17181B;
}

.section_theme_light {
    background-color: #E5E5E5;
    color: #000;
}

