* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

// Fonts 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');

body {
	font: 16px $Montserrat;
	color: #DEDEDE;
	font-weight: 500;
	letter-spacing: 0.02em;
	height: 100%;
	background: #17181B;
}

.container {
	max-width: 1920px;
	margin-left: auto;

	@media (min-width: 992px) {
		padding-left: 200px;
	}


}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.custom-checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.custom-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #FDFDFD;
	margin-right: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
	border-color: #FDFDFD;
	background-image: url(/images/checkbox-arr.png);
}

.custom-checkbox:not(:disabled):active+label::before {
	background-color: #FDFDFD;
	border-color: #FDFDFD;
}

